<h2>Your odds here</h2>
  <select id="league">
    <option value="nhl">NHL</option>
    <option value="nba">NBA</option>
    <option value="nfl">NFL</option>
  </select>
<input id="getOddsBtn" type="button" value="get your odds"/>