<h2>Your odds here</h2>
<!-- <form action="/odds" method="POST"> -->
  <section>
    <select id="league" name="league" onchange="selectLeague(this.value);">
      <option value="nhl">NHL</option>
      <option value="nba">NBA</option>
      <option value="nfl">NFL</option>
    </select>
    <a href="#" id="getOddsLink">
      <input type="button" value="get your odds" />
    </a>
  </section>
<!-- </form> -->
