<!DOCTYPE html>
<html lang="en">
    <%- include('partials/_header') %>
  <body>
    <h2>there's been an error</h2>
    <%- include('partials/_form') %>
    <%- include('partials/_scripts') %> 
  </body>
</html>