<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_header') %>
<body>
  <%- include('partials/_form') %>
  <%# include('partials/_moneyline') %> 
  <%- include(`partials/_${view}`) %> 
  <%- include('partials/_scripts') %> 
</body>
</html>