<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_header') %>
  <body>
    <%- include('partials/_form') %>
    <div id="unique" data-name="<%= event %>">
      I have a data attr
    </div>
    <p>The attribute is <%=  document.querySelector('#unique').dataset.name %></p>
  </body>
</html>